<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Create New Listing</h1>
      <p class="lead text-muted">Select the asset from your current wallet you wish to list for sale:</p>     
      <div class="list-group tokenList"></div>
    </div>
  </div>
</section>

<%= javascript_pack_tag('listings/new') %>