<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">MetaMarket</h1>
      <p class="lead text-muted">Buy and Sell and assets from across the Metaverse!</p>     
      <a href="#buy" class="btn btn-primary disabled" role="button">Buy</a>
      <%= link_to 'Sell', new_listing_path, class: 'btn btn-primary' %>
      <a href="#" class="btn btn-primary getSwapToken">Get $SWAP Token</a>
    </div>
  </div>
</section>